<!DOCTYPE html>
<html>
  <head>
      <% var rootPath = '../'; %>      
      <%- include(rootPath + 'partials/template/head.ejs'); %> 
  </head>
  <body> 
        <%- include(rootPath + 'partials/template/headerlogin.ejs'); %>
    <div class="container">
        <h1><strong><a style="color:black" href="/users/newaccount" > Daftar Akun Baru +</a></strong></h1>
            <h1>Login Akun</h1>
            <form action="/users/login" method="POST">
            <label>username</label>
            <input type="text" name="username" />
            <label>password</label>
            <input type="password" name="password" />
            <button type="submit">Submit</button>
            </form>
    </div>
  </body>
  <footer>
      <%- include(rootPath + 'partials/template/footer.ejs'); %>
  </footer>
</html>
