<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div style="text-align:center">
                  <h2>KONTAK</h2>
                  <p>MENERIMA KELUHAN DAN PENGADUAN DI JAM KERJA BERIKUT</p>
              </div>              
              <div class="column">
                <h1>PETA LOKASI WILAYAH</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7944.321772929845!2d105.25494812417107!3d-5.392438034355224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e40dae41ea61e39%3A0xdcdb4b3050245ec0!2sSidodadi%2C+Kedaton%2C+Bandar+Lampung+City%2C+Lampung!5e0!3m2!1sen!2sid!4v1544196479962" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
              <div class="column">
                  <strong>
                      <h2>Kantor</h2>
                        <p>Lokasi : Bandar Lampung</p>
                        <p>E-mail : info@kelurahansidodadi.go.id</p>
                      <h1> </h1>
                      <h2>Jam Kerja</h2>
                        <p>Senin - Kamis  = 08:00 - 16:00</p>
                        <p>    Jumat      = 08:00 - 15:00</p>
                        <p>Sabtu - Minggu = Libur</p>
                  </strong>
              </div>              
          </div><!-- primary -->       
      </div> 
    </div>      
  </body>
  <footer>
    <% include partials/template/footer.ejs %>
  </footer>
</html>
