<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <div style="text-align:center">
                 <strong>
                    <h1>VISI MISI</h2>
                  <p>Rencana Pembangunan Jangka Menengah Daerah (RPJMD) Kota Bandar Lampung merupakan penjabaran dari visi, misi, dan program kepala daerah / walikota dan wakil walikota yang memuat tujuan, sasaran, strategi, arah kebijakan, pembangunan Daerah dan keuangan Daerah, serta program Perangkat Daerah dan lintas Perangkat Daerah yang disertai dengan kerangka pendanaan bersifat indikatif untuk jangka waktu 5 (lima) tahun yang disusun dengan berpedoman pada Rencana Pembangunan Jangka Panjang Daerah (RPJPD) Kota Bandar Lampung dan Rencana Pembangunan Jangka Menengah Nasional (RPJMN).Visi dan misi kepala daerah yang dimaksud adalah visi dan misi kepala daerahyang disampaikan pada waktu pemilihan kepala daerah (pilkada). Visi dan misi kepala daerah tersebut merupakan cerminandari kondisi masa depan daerah yang ingin dicapai (desired future) dalam masa jabatan selama 5 (lima) tahun. Dalam konteks perencanaan pembangunan daerah Kota Bandar Lampung pada saat ini, telah sampai pada periode pembangunan jangka menengah tahap 3 dari RPJP Kota Bandar Lampung 2005-2025, yaitu periode 2016-2021.Sasaran pokok dan arah kebijakan pembangunan jangka menengah tahap 3 dari RPJP Kota Bandar Lampung 2005-2025 dan RPJMN Tahun 2015-2019 menjadi pedoman utama dalam pembangunan lima tahun Kota Bandar Lampung periode 2016-2021 yang dijabarkan di dalam RPJMD Kota Bandar Lampung Tahun 2016-2021.</p>
                </strong>
                </div>              
            </div>              
          </div><!-- primary -->       
      </div> 
    </div>      
  </body>
  <footer>
    <% include partials/template/footer.ejs %>
  </footer>
</html>
